.message-container {
    color: black;
    width: 730px;
}

.f2.message-content {
    min-width: 680px !important;
}

.f2-small-title {
    border: 2px solid black;
}

.dropdown-item.mail-change-btn:active,
.dropdown-item.mail-change-btn.active {
    background-color: #f3f6f9 !important;
    color: var(--primary);
}
